*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
main{
    border: 2px solid red;
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin-top: 7%;
}
nav{
    border: 2px solid yellow;
    position: fixed;
    float: right;

}
section{
    border: 2px solid blue;
}
.nav-ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
li a{
    text-decoration: none;
}
ul li{
    border: 2px solid purple;
}
div{
    border: 2px solid green;
}

/* adjust after finding photo */
#photo-container{
    width: 30%;
    height: 20%;
}