*{
    margin: 0;
    padding: 0;
}
main{
    border: 2px solid red;
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 10%;
    margin-top: 7%;
}
nav{
    margin-left: 20%;
}
.nav-ul{
        display: flex;
        flex-direction: column;
        border: 2px solid yellow;
        list-style-type: none;
}
li a{
    text-decoration: none;
}
ul li{
    border: 2px solid purple;
}
div{
    border: 2px solid green;
    margin-right:10%;
}

/* adjust after finding photo */
#photo-container{
    width: 30%;
    height: 20%;
}