*{
    padding: 0;
    margin: 0;
    font-size: 18px;
}
main{
    border: 2px solid red;
    grid-template-columns: .3fr 1fr;
    display: grid;
    height: 50%;
    justify-content: center;
    gap: 40px;
    margin-top: 7%;
}
section{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20%;
}
div{
    border: 2px solid green;
}
/*Side navigation*/
.menu-image{
    height: 38px;
    border: 2px solid teal;
    cursor: pointer;
}
.side-nav{
    background: red;
    width: 330px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -330px;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 1px solid #ccc;
    transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -webkit-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -moz-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06)
}
.x{
    height: 38px;
}

.show-nav{
    left: 0;
}
/* END SIDE NAVIGATION */

.text-box{
    border: 2px solid gray;
    width: 100%;
}
.project-image{
    width: 5rem;
    margin: 0 auto;
}
.project-container{

}