*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
body{
    border: 2px solid orange;
    font-family: 'Fredoka', sans-serif;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}

/* BACKGROUND */

main{
    border: 2px solid red;
    /* background: rgba(0, 0 ,0, .3);
    background: linear-gradient(45deg,rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
    background: -webkit-linear-gradient(45deg,rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
    background: -moz-linear-gradient(45deg,rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)); */
    background: url(images/zion-2.jpg);

}

.scrim{
    background: rgba(0, 0, 0, .94);
}
header{
    height: 10vh;
}

/* END BACKGROUND */


/* FOR LAYOUT */
/* 
header{
    border: 2px solid blue;
}
section{
    border: 2px solid blue;
}
div{
    border: 2px solid green;
} */

/* END LAYOUT */


/* TEXT-SIZING */

h1{
    font-size: 1.8rem;
}
.company{
    font-size: 1.6rem;
}
.title{
    font-size: 1.2rem;
}


/* END TEXT-SIZING */


/* CONTACT SECTION */

.contact-info{
    color: white;
    padding: 5%;
}

/* END CONTACT SECTION */


/* LINK IMAGES */

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 10vh;
}
.link-container img{
    height: 6vh;
    margin-right: 20px;
    margin-left: 10px;
}

/* END LINK IMAGES */


/* GRID SECTION */
.grid{
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    height: 100vh;
}

.resume-primary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume-secondary{
    display: none;
}

/* END GRID SECTION */


/*SIDE NAV BEGIN*/
.side-nav{
    background: rgba(255, 255, 255, .8);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 1px solid #ccc;
    transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -webkit-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -moz-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-nav{
    right: 0;
}
.menu-image{
    height: 38px;
    float: right;
    margin-top: 10px;
}

.x{
    height: 38px;
    align-self: flex-end;
    margin-top: 15px;
}
li{
    list-style: none;
    margin-top: 30%;
}
a{
    display: block;
    color:black;
    font-size: 2rem;
    text-decoration: none;
}
.nav-content{
    width: 100%;
    height: 100%;
    text-align: center;
}
/* SIDE NAV END */


/* MISSION STATEMENT */

.text-blurb{
    text-align: center;
    width: 75%;
    margin: 10% auto;
}

.experience{
    color: white;
}

/* END EXPERIENCE */

@media only screen and (min-width: 490px) {
        /* NAV */
        
        .side-nav{
            right: 0;
            height: 10vh;
            border: 2px solid red;
            height: 10vh; 
            width: 100%;
        }
        li{
            margin: 0;
            margin-left: 5%
        }
        a{
            font-size: 1.5rem;
        }
        .nav-content{
            display: flex;
            height: 100%;
            align-items: flex-end;
        }
        .menu-image{
            display: none;
        }
        .x{
            display: none;
        }
        
    /* END NAV FOR DESKTOP */


    /* GRID MEDIA QUERIES */
    
    .grid{
        grid-template-columns: .6fr .9fr;
        width: 90%;
        gap: 7%;
        margin: 0 auto;
        margin-left: 40px;
    }
    .resume-primary{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .resume-secondary{
        display: block;
    }
    header{
    }
    .side-nav{
        position: relative;
    }
    .grid{
        margin: 0;
        margin-top: 5%;
        margin-left: 5%;
        
    }
    /* END GRID MEDIA QUERIES */
}


/* LOSE FOR MOBILE */

@media only screen and (max-width: 490px){
    .title-and-description{
        display: none;
    }
}