*{
    margin: 0;
    padding: 0;
}
body{

    font-size: 18px;
    font-family: sans-serif;
    border: 2px solid blue;
}
header{
    background: white;
    height: 10vh;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1rem;
}
main{
    border: 2px solid red;
    background: black;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    padding: 40px;
    color: white;
}
.hamburger{
    height: 38px;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}


/* SIDE NAV */
.side-nav{
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: blue;
    top: 0;
    right: -100%;
    border: 1px solid black;
    transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -webkit-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -moz-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
}

.show-nav{
    right: 0;
}


/* .x{
    height: 38px;
} */



/* END SIDE NAV */





/* FOOTER LINKS */
.link-container{
    display: flex;
    justify-content: center;
    height: 100%;
}
.link-container img{
    height: 5vh;
    margin-left: 10px;
}
/* END FOOTER LINKS */